.header {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin: 10px;
  font-size: 20px;
  color: orange;
  font-weight: 700;
}

ul li:hover {
  cursor: pointer;
  color: rgb(204, 112, 0);
}